<h1>Anagrams</h1>
<h3>Up to 3 Letters</h3>

<form action="/" method="post" class="form">
  <label for="word">Enter a word</label>
  <input type="text" name="word">
  <input type="submit" class="btn" id="button1">
</form>
