<h1 id="person"><%= "#{@person.first_name} #{@person.last_name}"%></h1>
<p id="bdate">Birthdate: <%= "#{@person.birthdate.strftime("%m-%d-%Y")}" %></p>
<p id="mesg"><%= "#{@message}" %></p>
<p><a href="http://localhost:4567/people/">Back to All People</a></p>
