<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Input Your Birthday</title>
</head>
<body>
<p>
<form action="/" method="post">
<label for="birthdate">Enter your birthdate</label>
<input type="text" name="birthdate">
<input type="submit">
</form>
</p>
</body>
</html>
