body {
  background-color: #f8f8f8;
  background-image: url('images/tiles-01.png');
  font-family: 'montserrat', arial;
}

h1 {
  color: #0000FF;
  font-size: 38px;
  text-align: center;
}

h3 {
  color: #787878;
  font-size: 30px;
  text-align: center;
}

form {
  font-size: 28px;
  text-align: center;
}

label, select, textarea {
  color: #0000FF;
  font-family: inherit;
  font-size: 100%;
}

#button1 {
  background-color: #D0D0D0;
  font-size: 18px;
  border-radius: 4px;
}

input {
  font-family: inherit;
  color: black;
  font-size: 28px;
}

ul li {
  font-family: inherit;
  color: #FF0000;
  font-size: 30px;
  margin: 50px;
}
